.card {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(178, 197, 211, 0.59);
    padding: 18px;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 36px;
    transition: all 0.3s;
}

.cardUnactive {
    background: rgba(255, 255, 255, 0.5);
    transition: all 0.3s;
}

.card .dotMenu {
    position: absolute;
    top: 2px;
    right: 5px;
    cursor: pointer;
    z-index: 5;
}

.card .dotMenu img {
    width: 13px;
}

.card .dotMenuDropdown {
    width: 100px;
    background: #fff;
    box-shadow: 0px 2px 8px rgba(178, 197, 211, 0.59);
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 3px;
    font-size: 14px;
    opacity: 1;
    transition: all 0.3s;
    transform-origin: top right;
}

.card .dotMenuDropdown ul {
    list-style-type: none;
    margin: 20px 10px 10px 10px;
    padding: 0px;
}

.card .dotMenuDropdown.dotMenuDropdownHide {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}

.card h2,
p {
    margin: 0px;
}

.card input {
    border: 2px solid #ccdde9;
    padding: 12px;
    border-radius: 4px;
    margin: 18px 0px 0px 0px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
}

.taskCard {
    cursor: move;
}

.taskCardDrag,
.colDrag {
    opacity: 0.5;
}

.taskCardDrop::after {
    content: "";
    height: 5px;
    width: 100%;
    border-radius: 4px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin-bottom: -20px;
    background: rgb(140, 166, 219);
    background: linear-gradient(
        90deg,
        rgba(140, 166, 219, 1) 0%,
        rgba(185, 147, 214, 1) 100%
    );
}

.taskContent {
    pointer-events: none;
}

.taskColorMarker {
    position: absolute;
    left: 0px;
    top: 10%;
    width: 4px;
    height: 80%;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.colorMarker1 {
    background: #89dc87;
}
.colorMarker2 {
    background: #dc8787;
}
.colorMarker3 {
    background: #f6e28b;
}
.colorMarker4 {
    background: #dca587;
}
.colorMarker5 {
    background: #87afdc;
}
.colorMarker6 {
    background: #af87dc;
}

.column {
    width: 280px;
    background-image: url("/images/column-line.svg");
    background-repeat: repeat-y;
    background-position: center;
    align-self: flex-start;
    transition: all 0.3s;
    position: relative;
}

.column .card {
    margin-bottom: 0px;
}

.taskDropZone {
    width: 100%;
    height: 36px;
}

.taskDropZoneDrop::before {
    content: "";
    height: 5px;
    width: 100%;
    display: block;
    position: relative;
    top: 16px;
    border-radius: 4px;
    background: rgb(140, 166, 219);
    background: linear-gradient(
        90deg,
        rgba(140, 166, 219, 1) 0%,
        rgba(185, 147, 214, 1) 100%
    );
}

.column .taskDropZone:last-child {
    position: absolute;
    bottom: -36px;
    left: 0px;
}

.columnDropZone {
    width: 60px;
    height: 132px;
}

.columnDropZoneDrop::before {
    content: "";
    width: 5px;
    height: 100%;
    display: block;
    position: relative;
    top: 0px;
    left: 28px;
    border-radius: 4px;
    background: rgb(140, 166, 219);
    background: linear-gradient(
        90deg,
        rgba(140, 166, 219, 1) 0%,
        rgba(185, 147, 214, 1) 100%
    );
}

#logoBar {
    background: #f6f6f6;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 12px rgba(178, 197, 211, 59);
}

#menuContainer {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 60px;
    height: 100%;
    z-index: 10;
}

.menuHamburger {
    transform: rotate(0deg);
    transition: 0.5s ease;
}

.menuHamburger span {
    height: 4px;
    width: 30px;
    border-radius: 10px;
    background: #fff;
    display: block;
    transform: rotate(0deg);
    transition: all 0.5s ease;
}

.menuHamburger span:nth-child(2) {
    margin-bottom: 5px;
    margin-top: 5px;
    transition: 0.3s ease;
    transition-delay: 0.3s;
}

.hamburgerActive {
    transform: rotate(359deg);
    transition: 0.8s ease;
}

.hamburgerActive span {
    position: absolute;
    top: calc(50% - 2px);
    left: calc(50% - 15px);
}

.hamburgerActive span:nth-child(1) {
    transform: rotate(45deg);
    transition: ease 0.5s;
}

.hamburgerActive span:nth-child(2) {
    transition-delay: 0s;
    transition: 0.3s;
    height: 0px;
    width: 0px;
}

.hamburgerActive span:nth-child(3) {
    transform: rotate(-45deg);
    transition: ease 0.5s;
}

.menuActive {
    transition: ease 0.5s;
    width: 300px;
}

.menuActive .menuHamburger {
    margin-left: 80%;
    transition: ease 0.5s;
}

#menuSpacer {
    background: #b893d6;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    transition: ease 0.5s;
    cursor: pointer;
}

#menu {
    transition: ease 0.5s;
    box-shadow: 2px 0px 12px #b2c5d3;
    height: Calc(100% - 60px);
    position: fixed;
    top: 60px;
    left: 0;
    z-index: 1;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b993d6+0,8ca6db+100 */
    background: #b993d6; /* Old browsers */
    background: -moz-linear-gradient(
        top,
        #b993d6 0%,
        #8ca6db 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
        top,
        #b993d6 0%,
        #8ca6db 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
        to bottom,
        #b993d6 0%,
        #8ca6db 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b993d6', endColorstr='#8ca6db',GradientType=0 ); /* IE6-9 */
}

.menuItems {
    width: 300px;
    position: relative;
    left: -300px;
    transition: ease 0.5s;
    list-style: none;
    padding: 0px;
    margin: 0px;
    color: #fff;
}

.menuItems li {
    height: 60px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;
}

.menuItems li:hover {
    background: rgba(0, 0, 0, 0.05);
}

.menuItems li:nth-child(1) {
    border-top: 1px solid rgba(0, 0, 0, 0.13);
}

.menuItemsActive {
    transition-delay: 0.3s;
    transition: ease 0.5s;
    left: 0px;
}
